/*
 * [ settings / icon ]
 */

// -----------------------------------------------------------------------------

$icons: (
        instagram: 'ea92',
        facebook: 'ea91'
);

@function str-unicode($str) {
    @return unquote("\"") + unquote(str-insert($str, "\\", 1)) + unquote("\"")
}

@function unicode($icon) {
    @return str-unicode(quote(map-get($icons, $icon)));
}
