/*
 * [ base / typography ]
 */

// -----------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: theme('fontFamily.heading');
    line-height: theme('lineHeight.tight');
    font-weight: 700;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}
