/*
 * [ base / default ]
 */

// -----------------------------------------------------------------------------

body,
html {
    min-width: 320px;
}

body {
    min-height: 100vh;
    font-family: theme('fontFamily.core');
    background-color: theme('colors.white');
    color: theme('colors.black');
    overflow-x: hidden;
}
