/*
 * [ base / font ]
 */

// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: font('roboto-400.eot');
    src: local('Roboto'), local('Roboto-Regular'),
         font('roboto-400.eot?#iefix') format('embedded-opentype'),
         font('roboto-400.woff2') format('woff2'),
         font('roboto-400.woff') format('woff'),
         font('roboto-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: font('roboto-700.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
         font('roboto-700.eot?#iefix') format('embedded-opentype'),
         font('roboto-700.woff2') format('woff2'),
         font('roboto-700.woff') format('woff'),
         font('roboto-700.ttf') format('truetype');
}

@font-face {
    font-family: 'Icomoon';
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: font('icomoon.ttf') format('truetype'),
         font('icomoon.woff') format('woff');
}

@font-face {
    font-family: 'Athena';
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: font('Athena.ttf') format('truetype');
}


