/*
 * [ layout / footer ]
 */

// -----------------------------------------------------------------------------

.l-footer {
    @apply bg-transparent;
}

.l-footer-line__item:not(:last-child):after {
    content: '\002011';
    @apply mx-1;
}
