/*
 * [ layout / markdown ]
 */

// -----------------------------------------------------------------------------

.l-markdown {
    a {
        @apply text-primary-500;
    }

    blockquote,
    dl,
    dd,
    hr,
    figure,
    p,
    pre,
    ul,
    ol {
        @apply my-4;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mt-6 mb-4;
    }

    ul,
    ol {
        @apply list-inside list-disc;
    }

    img,
    video,
    iframe {
        @apply w-full;
    }

    pre {
        @apply p-4 text-sm bg-gray-200;
    }
}
