/*
 * [ objects / container ]
 */

// -----------------------------------------------------------------------------

.o-container {
    width: 100%;
    max-width: theme('maxWidth.container');
    margin: 0 auto;
    position: relative;
    @apply px-4;
}

.o-container--half {
    max-width: theme('maxWidth.halfContainer');
}

.o-container--left {
    margin-left: 0;
    margin-right: auto;
}

.o-container--right {
    margin-right: 0;
    margin-left: auto;
}
